<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZZT1"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Signup Activity -->
        <activity
            android:name=".Signup"
            android:exported="true" />

        <!-- Login Activity -->
        <activity
            android:name=".login"
            android:exported="false" />

        <!-- Drawer Activity -->
        <activity
            android:name=".DrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.ZZT1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Second Activity -->
        <activity
            android:name=".SecondActivity"
            android:exported="false" />

        <!-- FAQ Activity -->
        <activity
            android:name=".FAQ"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Product Detail Activity -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />

        <!-- Cart Activity -->
        <activity
            android:name=".CartActivity"
            android:exported="true">
            <intent-filter>
                <!-- Deep linking intent filter for handling Yoco payment redirection -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Custom URL scheme and host for deep linking -->
                <data android:scheme="yourapp" android:host="paymentresult" />
            </intent-filter>
        </activity>

        <!-- Meta-data for Internet permission -->
        <meta-data
            android:name="android.permission.INTERNET"
            android:value="true" />
    </application>
</manifest>
